
@{
    ViewBag.Title = "choosePaymentMethod";
}

<h2>Choose Payment Method</h2>

<a href="~/Home/cashPaymentMethod" class="btn btn-primary">Cash</a>
<a href="~/Home/creditCardPayment" class="btn btn-primary">Credit Card</a>