<!-- /.row -->
<div class="row">
    <div class="col-lg-12" style="">
        <img src="~/Content/Image/hotelwallpaper.jpg" height="600" width="1200" />

    </div>
</div>
<!-- /.row -->
<!-- Service Paragraphs -->
<div class="row">
    <div class="col-md-8">
        <h2 class="page-header">Our Services</h2>
        <p>Our Hotel maintains the best of traditional values while continually introducing new service standards and the latest technology as befits the modern world. Guests have the assurance of friendly and highly professional staff combined with the advantage of all the latest business and entertainment systems, in rooms and throughout the hotel.</p>
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Join member?</h2>
        <p>Member have special discounts up to 20%!</p>

        @Html.ActionLink("Register", "CustomerRegister", "Users")

    </div>
</div>
