
@{
    ViewBag.Title = "typesOfReport";
}

<h2>Types Of Report</h2>

<a href="~/Home/ViewListOfCustomer" class="btn btn-primary">Customer List</a>
<a href="~/Home/ViewListOfPayment" class="btn btn-primary">Payment List</a>
<a href="~/Home/ViewListOfOrder" class="btn btn-primary">Order List</a>
