@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>List Of Customers - Administration</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Customers</h2>
            </div>
            <p class="col-md-12"><strong>Search by Customer Email: </strong><input type="text" class="form-control" size="30" data-bind="value: searchString, valueUpdate: 'afterkeydown'" /></p>
            <div class="panel-body">

                <table cellpadding="10" data-bind="foreach: searchCustomers">
                    <tr>

                        <td valign="top">
                            Customer ID: <strong><span data-bind="text: customerID"></span></strong><br />
                            Customer Name: <span data-bind="text: customerFirstName"></span>
                            <span data-bind="text: customerLastName"></span> <br />
                            Contact Number: <span data-bind="text: customerContactNumber"></span><br />
                            Email Address: <span data-bind="text: customerEmail"></span><br />
                            <a href="#" data-bind="click:$parent.getCustomerDetails" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm">Details</a>
                            
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>



        <!-- TODO: View Product Details >> Update/Delete -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="viewDetails" data-bind="if:customerDetails() ">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Details</h2>
                        </div>
                        <form class="form-horizontal">
                            <table class="table">
                                <tr>
                                    <td>Customer ID</td>
                                    <td><input type="text" class="form-control" id="customerID" read data-bind="value:customerDetails().customerID" /></td>
                                </tr>

                                <tr>
                                    <td>Customer First Name:</td>
                                    <td><input type="text" class="form-control" id="customerFirstName" read data-bind="value:customerDetails().customerFirstName" /></td>
                                </tr>
                                <tr>
                                    <td>Customer Last Name:</td>
                                    <td><input type="text" class="form-control" id="customerLastName" read data-bind="value:customerDetails().customerLastName" /></td>
                                </tr>
                                <tr>
                                    <td>Contact Number</td>
                                    <td><input type="number" class="form-control" id="customerContactNumber" read data-bind="value:customerDetails().customerContactNumber" /></td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td><input type="text" class="form-control" id="customerEmailAddress" read data-bind="value:customerDetails().customerEmail" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <a href="#" data-bind="click: updateDetail" class="btn btn-primary">Update</a>&nbsp;&nbsp;&nbsp;
                                        <a href="#" data-bind="click: removeDetail" class="btn btn-primary">Remove</a>
                                        
                                    </td>

                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

