@{
    Layout = "~/views/shared/_jzlayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/css.css" rel="stylesheet" />
</head>
<body>
    
    
    <h2 class="h21">Please wait awhile.....Charging Credit Card</h2>

    <div class="loader" >


    </div>

</body>
</html>
